*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior:smooth !important;
}
body{
    background-color: black;
}
.name {
    color: red;
}
/*-------------Home------------*/
.header {
    padding: 5px 5%;
}
nav {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 40%;
}
nav .fas{
    display: none;
    color: white;
}
.rohith {
    justify-content: left;
    color: azure;
    font-size: 50px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height:  3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom:  -6px;
    transition: width 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.header-text {
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: white;
    font-size: 30px;
}
.header-left {
    margin-top: 25%;
}
.header-right {
    margin-top: 0%;
    margin-right: 10%;
    position: relative;
}
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}
#typed-text {
    color: red;
}
.profile {
    margin-top: 0;
    display: block;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
}
.profile1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%; 
    height: 150%;
    object-fit: cover;
    z-index: -1;
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.header-right:hover .profile {
    animation: floatImage 1s ease-in-out infinite;
}
/*----------------about---------------*/
#about {
    padding: 60px 0;
    color: #ababab;
    margin-top: 50px;
    padding: 5px 5%;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    margin-top: 20px;
    flex-basis: 35%;
}
.about-col-1 img {
    display: block;
    object-fit: cover;
    margin-top: 90px;
    height: 450px;
    width: 450px;
    border-radius: 50%;
}
.about-col-2 {
    flex-basis: 60%;
}
.sub-titles {
    margin-top: 90px;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height:  3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom:  -8px;
    transition: width 0.5s;
}
.tab-links.active-link::after {
    width: 50%;
}
.tab-contents ul li {
    list-style-type: disc;
    margin: 10px 0;
}
.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}
article {
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    background-color: #161616;
    width: 76% !important;
}
/* ------------contact----------- */
#contact {
    margin-top: 8%;
    padding: 5px 5%;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.contact-left {
    margin-top:  60px;
    flex-basis: 35%;
}
.contact-right {
    margin-top: 60px;
    flex-basis: 60%;
}
.contact-left p {
    margin-top: 30px;
}
 .contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
 }
 .social-icons{
    margin-top: 30px;
 }
 .social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
 }
 .social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
 }
 .btn.btn2 {
    color: white;
    display: inline-block;
    margin-top: 20px;
    background: #ff004f;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 20px;
}
.btn.btn2:hover {
    transform: scale(1.05);
}
.contact-right  form {
    width: 100%;
 }
 form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 16px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/*------------footer-------------*/
footer {
    width: 100%;
    margin-top:  50px;
    padding: 25px 0;
    text-align: center;
}
footer p {
    color: #fff;
}
.footer-icon {
    display: flex;
    justify-content: space-between;
    margin-left: 48%;
}
.icontop {
    margin-right: 50px;
    font-size: 50px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease;
    color: red;
}
.icontop:hover {
    transform: translateY(-20px);
}
/*---------------@media-------------*/
/* Mobile and Tablet Styles */
@media (max-width: 768px) {
    nav {
        margin-right: 0;
    }
    nav .fas {
        display: block;
        font-size: 25px;
        color: white;
    }
    nav ul {
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: auto;
        padding-top: 50px;
        background-color: transparent;
        backdrop-filter: blur(9px);
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .header {
        padding: 5px 3%;
    }
    .rohith {
        font-size: 40px;
    }
    .header-text {
        flex-direction: column;
        text-align: center;
        margin-top: 100px;
        font-size: 25px;
    }
    .header-text h1 {
        font-size: 45px;
    }
    .header-right {
        margin-right: 0%  !important;
        order: 1;
    }
    .header-left {
        order: 2;
    }
    .profile {
        height: 250px;
        width: 250px;
    }
    .profile1 {
        height: 0%;
        width: 0%;
    }
    /* About Section */
    .about-col-1 {
        display: flex;
        margin-top: 0;
        margin-bottom: 30px;
        justify-content: center;
    }
    .about-col-1 img {
        width: 306px;
        height: 306px;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-2 {
        font-size: 14px;
    }
    .sub-titles {
        margin-top: 0% !important;
        font-size: 40px;
    }
    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    article {
        padding: 1.5rem;
        flex: 1;
        border-radius: 2rem;
        background-color: #262626;
        width: 100% !important;
        height: fit-content;
    }
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    .contact-left p i {
        font-size: 20px;
    }
    .social-icons a {
        font-size: 25px;
    }
    .btn.btn2 {
        padding: 10px 15px;
    }
    .contact-right form .btn2 {
        padding: 12px 50px;
    }
    footer{
        font-size: 14px;
    }
}
/* @media for screens with width: 412px and height: 914px */
@media (max-width: 412px) and (max-height: 914px) {
    .header {
        padding: 5px 3%;
    }
    .rohith {
        font-size: 40px;
    }
    .header-text {
        flex-direction: column;
        text-align: center;
        margin-top: 80px;
        font-size: 20px;
    }
    .header-text h1 {
        font-size: 40px;
    }
    .header-right {
        margin-right: 0%  !important;
        order: 1;
    }
    .header-left {
        order: 2;
    }
    .profile {
        height: 200px;
        width: 200px;
    }
    .profile1 {
        height: 0%;
        width: 0%;
    }
    /* about section */
    .about-col-1 img {
        width: 200px;
        height: 200px;
        text-align: center;
        justify-content: center;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-2 {
        font-size: 14px;
    }
    .sub-titles {
        margin-top: 20px;
        font-size: 30px;
    }
    .tab-links {
        font-size: 14px;
        margin-right: 10px;
    }
    article {
        padding: 1.5rem;
        flex: 1;
        border-radius: 2rem;
        background-color: #262626;
        width: 100% !important;
    }    
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    .contact-left p i {
        font-size: 18px;
    }
    .social-icons a {
        font-size: 25px;
    }
    .btn.btn2 {
        padding: 8px 12px;
    }
    .contact-right form .btn2 {
        padding: 10px 40px;
    }
    footer {
        font-size: 12px;
    }
}
